.file {
	background-color: white;
	border-radius: 3px;
	border: 1px solid #007295;
	margin-bottom: 15px;
	padding: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.file:hover {
	background-color: #F5FBFF;
}

.file .fileName {
	cursor: pointer;
}

.fileImage {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.fileActions span {
	color: #008cba;
	cursor: pointer;
}

.fileActions span:hover {
	color: #007ba0;
	text-decoration: underline;
}

.closePanel {
	cursor: pointer;
	float: right;
	color: darkcyan;
}

.file form {
	display: inline-block;
}

.uploadZone {
	border: 5px dotted #007295;
	border-radius: 6px;
	width: 215px;
	height: 100px;
}

.uploadZone p {
	text-align: center;
	margin-top: 30px;
}
