#browserLocation {

}

#browserTooltips {
    padding: 10px;
    cursor: pointer;
}

#browserTooltips span {
    padding-right: 15px;
}

#browserTooltips .toolText {
    font-size: 0.9em;
    vertical-align: text-top;
}

#browserTooltips span:hover {
    color: #039CCA;
}

#browserTooltips i {
    font-size: 1.4em;
    color: #1399bd;
}

.row {
    max-width: 80em;
}

.clear {
    clear: both;
}

#fileUpload {
    background-color: #fff;
    border: 1px solid #dadada;
    color: #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    padding: 20px 45px 30px 45px;
    margin: 20px -26px 40px -26px;
}

#fileManager img {
    width: 30px;
    height: 30px;
    margin: 7px;
}

.fileManagerTools {
    background: #fafafa;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.fileManagerTools a {
    margin-right: 15px;
}

.file {
    position: absolute;
    width: auto;
    height: auto;
    background-color: #D1E3F7;
    padding: 10px;
    cursor: pointer;
}

.file:active {
    background-color: #81F48D;
}

.fileSelected {
    background-color: rgba(201, 231, 237, .6);
}

.trash {
    width: 100px;
    height: 100px;
}
.fa-3 {
    font-size: 4em;
    text-align: center;
}

.fileText {
    display: block;
    text-align: center;
}


.test {
    position: absolute;
    top:10px;
    right: 10px;
}

.cubbybox {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-width: 4px;
    border-style: dashed;
    border-color: #b7b7b7;
    border-radius: 15px;
    padding:20px;
    margin-bottom: 15px;
}

.cubbyboxdo {
    border: 5px dashed red;
}

#fileBrowser li {
    margin: 0 0px -1px 0px;
    list-style: none;
}

#fileBrowser .fileBrowserHeader {
    font-weight: bold;
    cursor: pointer;
}

#fileBrowser .browsefile {
    border: 1px solid #e5e5e5;
    line-height: 40px;
}

#fileBrowser .filename {
    width: 53%;
}

#fileBrowser .filetype {
    width: 23%;
}
