<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.min.css"/>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

<div class="row">
    <input type="text" ng-model="app.person.name"/>
    <input type="text" ng-model="app.person.age"/>
    <a href="#" class="button" ng-click="app.addPerson(app.person)">Add Person</a>
</div>

<div class="row">
    <ul>
        <li ng-repeat="person in app.people">
            {{person.name}} is {{person.age}} years old
        </li>
    </ul>
</div>

<div class="row">
    <h1>Upload a file</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>