<div id="fileUpload">
    <h2>Upload a file</h2>

    <div ng-controller="UploadCtrl">
        <input type="text" ng-model="myModelObj" placeholder="custom filename">
        <input type="file" ng-file-select="onFileSelect($files)" >
        <!-- <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
        <div ng-file-drop="onFileSelect($files)" class="cubbybox" ng-file-drag-over-class="cubbyboxdo"
            ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true" 
            ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button class="label radius round right" ng-click="upload.abort()">Cancel Upload</button>
    </div>
</div>
